{% extends "base/base.html" %}
{% block contents %}
{% load static %}
<div class="jumbotron">
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>ギャラリー</h1>
            <p>写真で振り返る信州オフ</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 text-center">
        <div class="col-12">
            <h3>第6回信州オフ</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 text-center">
            <img src="{% static "img/gallery/6-01.png" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="offset-1 col-2">
            <img src="{% static "img/gallery/6-02.png" %}" class="img-thumbnail">
        </div>
        <div class="col-2">
            <img src="{% static "img/gallery/6-03.png" %}" class="img-thumbnail">
        </div>
        <div class="col-2">
            <img src="{% static "img/gallery/6-04.png" %}" class="img-thumbnail">
        </div>
        <div class="col-2">
            <img src="{% static "img/gallery/6-05.png" %}" class="img-thumbnail">
        </div>
        <div class="col-2">
            <img src="{% static "img/gallery/6-06.png" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-12">
            <h3>第5回信州オフ</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static "img/gallery/5-07.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static "img/gallery/5-10.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <img src="{% static "img/gallery/5-01.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/5-02.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/5-03.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/5-04.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <img src="{% static "img/gallery/5-05.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/5-06.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/5-08.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/5-09.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h3>第4回信州オフ</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 text-center">
            <img src="{% static "img/gallery/4-03.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <img src="{% static "img/gallery/4-04.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-6">
            <img src="{% static "img/gallery/4-07.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <img src="{% static "img/gallery/4-01.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/4-02.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/4-05.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/4-06.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-12">
            <h3>第3回信州オフ</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <img src="{% static "img/gallery/3-01.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-6">
            <img src="{% static "img/gallery/3-02.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <img src="{% static "img/gallery/3-03.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/3-04.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/3-05.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/3-06.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-12">
            <h3>第2回信州オフ</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <img src="{% static "img/gallery/2-01.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-6">
            <img src="{% static "img/gallery/2-04.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <img src="{% static "img/gallery/2-02.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/2-03.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/2-05.jpg" %}" class="img-thumbnail">
        </div>
        <div class="col-3">
            <img src="{% static "img/gallery/2-06.jpg" %}" class="img-thumbnail">
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-12">
            <h3>第1回信州オフ</h3>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static "img/gallery/1-01.jpg" %}" class="img-thumbnail">
        </div>
    </div>
</div>
{% endblock contents %}