{% extends "base/base.html" %}
{% block contents %}
{% load static %}
<div class="jumbotron">
</div>
<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
         <ul class="list-group text-center" style="width: 100%;">
            {% if 'userid' in request.session %}
            <li class="list-group-item"><a href="/entry/edit/"><i class="far fa-edit"></i>　参加表明修正</a></li>
            {% else %}
            <li class="list-group-item"><a href="/entry/signup/"><i class="fas fa-plus"></i>　参加表明</a></li>
            {% endif %}
            <li class="list-group-item"><a href="/lunch"><i class="fas fa-utensils"></i>　お弁当申し込み</a></li>
            <li class="list-group-item"><a href="/entry/"><i class="fas fa-list"></i>　参加者リスト</a></li>
            {% if 'is_admin' in request.session %}
            {% if request.session.is_admin %}
            <li class="list-group-item"><a href="/entry/admin/"><i class="fas fa-list"></i>　参加者リスト(管理者用)</a></li>
            {% endif %}
            {% endif %}
            <li class="list-group-item"><a href="/exhibition"><i class="fas fa-shipping-fast"></i>　出店ショップ・雑誌取材</a></li>
            <li class="list-group-item"><a href="/threemonth"><i class="fas fa-microphone"></i>　代表の挨拶</a></li>
            <li class="list-group-item"><a href="/bbs"><i class="fas fa-question"></i>　問い合わせ掲示板</a></li>
            <li class="list-group-item"><a href="/gallery"><i class="far fa-images"></i>　ギャラリー</a></li>
         </ul>
      </div>
   </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="infobox">
            <h2 class="text-center">ご注意</h2>
            <div class="announce">すでに参加表明を頂いている方にお願いです。
            
ご自身の参加表明をもう一度見直していただき、人数が間違っていないかご確認ください。間違ったままになっていますと料理の手配など他の方々にご迷惑がかかってしまう場合がございます。ご協力のほどよろしくお願いいたします。後夜祭につきましては、参加表明のフォームでの人数変更はできなくしておりますので、もしご変更がある場合は、お手数ですが<a href="/bbs">問い合わせ掲示板</a>に連絡いただくか、<a href="https://form1ssl.fc2.com/form/?id=b80d5db1cbda701c">メールフォーム</a>にて連絡をお願いいたします。
            </div>
<pre>
後夜祭のお申込みが規定の40名様に達しましたので受付を終了とさせていただきました。
お申込み頂いた皆様の全員の参加を実現したいところですが、会場の都合もあり、40名を上限といたします。
何卒ご理解の程よろしくお願いいたします。
</pre>
            </div>
         </div>
      </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="text-center infobox">
            <h2>新着情報</h2>
<pre>
2019.6.16 出店ショップ、雑誌取材のページを追加しました。
2019.5.26 後夜祭の受付上限を40名としました。お申込みはお早めにお願いいたします。
2019.5.19 お弁当、後夜祭の受付を開始しました
2019.4.14 参加表明受付を開始しました
2019.3.3 詳細情報をアップしました
</pre>
            </div>
         </div>
      </div>
</div>

<div class="container" id="detail">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="text-center infobox">
                <h2>詳細情報</h2>
<pre class="text-left">
開催日時：2019.07.14(日)　※雨天決行
開催時刻：10：00～16：00
※入場・受付開始8：00～　
※会場が17時閉園となりますので17時完全撤収となります。

主　　催：SOARER FESTIVAL 2019 実行委員会 / チーム纏 (代表　纏)

目　　的：ソアラを通して全国の方と交流の輪を広げると共に情報交換することでより一層輝くカーライフとなる事を目的とし誰でも気軽に参加でき家族連れの方でも楽しめることを目的としたイベントです。

当日のタイムスケジュール

08:00　　入場・受付開始
10:00　　開会式
15:00　　大抽選会
15:30　　閉会式　
17:00　　完全撤収！！！！

開催場所：信州塩尻農業公園チロルの森　(http://www.tirol.gr.jp/)

参加費　：2000円

※記念品込みとなります。
※同乗者の方は一人に付き500円
※運転手+同乗者2名の場合。2000+500+500で3000円となります。
※ソアラ以外のお車で見学者の方は一律500円となります。

参加資格：ALL SOARER （10～40系）＆LEXUS SC。
※それらの車種をこよなく愛される方。
※他車種の方でも参加(見学)可能ですが駐車エリアは別となります。
</pre>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 link-box">
            <div class="link-box-inner">ギャラリー
                <a href="/gallery">
                    <img src="{% static "/img/gallery.jpg" %}">
                </a>
            </div>
        </div>
        <div class="col-md-4 link-box">
            <div class="link-box-inner">チロルの森
                <a href="http://www.tirol.gr.jp/" target="_blank">
                    <img src="http://www.tirol.gr.jp/img/02.jpg" width="250px">
                    <img src="http://www.tirol.gr.jp/img/05.jpg" width="250px" style="max-height: 108px;">
                </a>
            </div>
        </div>
        <div class="col-md-4 link-box">
            <div class="link-box-inner">信州観光
                <a href="http://www.shinshu-dc.net" target="_blank">
                    <img src="{% static "/img/bl-007-1.jpg" %}" width="250px">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}