{% extends "base/base.html" %}
{% block contents %}
{% load static %}
<div class="jumbotron">
</div>
<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
         <ul class="list-group text-center" style="width: 100%;">
            {% if 'userid' in request.session %}
            <li class="list-group-item"><a href="/entry/edit/">参加表明修正</a></li>
            {% else %}
            <li class="list-group-item"><a href="/entry/signup/">参加表明</a></li>
            {% endif %}
            <li class="list-group-item"><a href="/entry/">参加者一覧</a></li>
            <li class="list-group-item"><a href="/threemonth">代表の挨拶</a></li>
            <li class="list-group-item"><a href="/bbs">問い合わせ掲示板</a></li>
            <li class="list-group-item"><a href="/gallery">ギャラリー</a></li>
         </ul>
      </div>
   </div>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="text-center infobox">
            <h2>新着情報</h2>
<pre>
2019.4.14 参加表明受付を開始しました
2019.3.3 詳細情報をアップしました
</pre>
            </div>
         </div>
      </div>
</div>

<div class="container" id="detail">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="text-center infobox">
                <h2>詳細情報</h2>
<pre class="text-left">
開催日時：2019.07.14(日)　※雨天決行
開催時刻：10：00～16：00
※入場・受付開始8：00～　
※会場が17時閉園となりますので17時完全撤収となります。

主　　催：SOARER FESTIVAL 2019 実行委員会 / チーム纏 (代表　纏)

目　　的：ソアラを通して全国の方と交流の輪を広げると共に情報交換することでより一層輝くカーライフとなる事を目的とし誰でも気軽に参加でき家族連れの方でも楽しめることを目的としたイベントです。

当日のタイムスケジュール

08:00　　入場・受付開始
10:00　　開会式
15:00　　大抽選会
15:30　　閉会式　
17:00　　完全撤収！！！！

開催場所：信州塩尻農業公園チロルの森　(http://www.tirol.gr.jp/)

参加費　：2000円

※記念品込みとなります。
※同乗者の方は一人に付き500円
※運転手+同乗者2名の場合。2000+500+500で3000円となります。
※ソアラ以外のお車で見学者の方は一律500円となります。

参加資格：ALL SOARER （10～40系）＆LEXUS SC。
※それらの車種をこよなく愛される方。
※他車種の方でも参加(見学)可能ですが駐車エリアは別となります。
</pre>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 link-box">
            <div class="link-box-inner">ギャラリー
                <a href="/gallery">
                    <img src="{% static "/img/gallery.jpg" %}">
                </a>
            </div>
        </div>
        <div class="col-md-4 link-box">
            <div class="link-box-inner">チロルの森
                <a href="http://www.tirol.gr.jp/" target="_blank">
                    <img src="http://www.tirol.gr.jp/img/02.jpg" width="250px">
                    <img src="http://www.tirol.gr.jp/img/05.jpg" width="250px" style="max-height: 108px;">
                </a>
            </div>
        </div>
        <div class="col-md-4 link-box">
            <div class="link-box-inner">信州観光
                <a href="http://www.shinshu-dc.net" target="_blank">
                    <img src="{% static "/img/bl-007-1.jpg" %}" width="250px">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}