<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
  
    <title>SOARER FESTIVAL 2019</title>
    <!-- OGP -->
    <meta property="og:title" content="SOARER FESTIVAL 2019">
    <meta property="og:type" content="website">
    <meta property="og:description" content="SOARER FESTIVAL 2019は2019年7月14日に長野県塩尻市チロルの森で開催します。">
    <meta property="og:url" content="https://team-matoi.com/">
    <meta property="og:image" content="https://team-matoi.com/static/img/zenkoku2019-kv-newlogo.png">
    <meta property="og:site_name" content="SOARER FESTIVAL 2019">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aramsan" />
    <meta property="og:url" content="https://team-matoi.com/" />
    <meta property="og:title" content="SOARER FESTIVAL 2019" />
    <meta property="og:description" content="SOARER FESTIVAL 2019は2019年7月14日に長野県塩尻市チロルの森で開催します。" />
    <meta property="og:image" content="https://team-matoi.com/static/img/zenkoku2019-kv-newlogo.png" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="{% static "js/jquery.validationEngine-ja.js" %}"></script>
    <script src="{% static "js/jquery.validationEngine.js" %}"></script>
    <script src="{% static "js/jquery.flexslider.js" %}"></script>
    <link href="{% static "css/flexslider.css"%} rel="stylesheet" type="text/css" />
    <script src="{% static "js/strftime.js" %}"></script>
    <script src="{% static "js/sprintf.js" %}"></script>
    <script src="{% static "js/micro-location.js" %}"></script>
    <script src="{% static "js/micro_dispatcher.js" %}"></script>
    <link href="{% static "css/main.css" %}?asdf" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static "css/validationEngine.jquery.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery.timeago.js" %}"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
    $(document).ready(function(){
      jQuery.timeago.settings.strings = {
        prefixAgo: "",
        prefixFromNow: "今から",
        suffixAgo: "前",
        suffixFromNow: "後",
        seconds: "1 分未満",
        minute: "約 1 分",
        minutes: "%d 分",
        hour: "約 1 時間",
        hours: "約 %d 時間",
        day: "約 1 日",
        days: "約 %d 日",
        month: "約 1 ヶ月",
        months: "約 %d ヶ月",
        year: "約 1 年",
        years: "約 %d 年",
        wordSeparator: ""
      };
      $('abbr.timeago').timeago();
    });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="/">SOARER FESTIVAL 2019</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMenu" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <span class="navbar-text">
            {% if 'userid' in request.session %}{{ request.session.username }}さん{% endif %}
           </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">トップページ</a>
          </li>
          {% if 'userid' in request.session %}
          <li class="nav-item">
            <a class="nav-link" href="/entry/logout/">ログアウト</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entry/edit/">参加表明修正</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lunch">お弁当申し込み</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/entry/login/">ログイン</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/entry/">参加者リスト</a>
          </li>
          {% if 'is_admin' in request.session %}
          {% if request.session.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="/entry/admin/">参加者リスト(管理者用)</a>
          </li>
          {% endif %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/bbs/">お問い合わせ掲示板</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery">ギャラリー</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      {% block contents %}{% endblock %}

      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="text-center "><small>運営:SOARER FESTIVAL 2019 実行委員会 / チーム纏</small></p>
          </div>
        </div>
      </div>
    </main>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i>　参加人数の確認をお願いします</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            すでに参加表明を頂いている方にお願いです。<br><br>
            ご自身の参加表明をもう一度見直していただき、人数が間違っていないかご確認ください。間違ったままになっていますと料理の手配など他の方々にご迷惑がかかってしまう場合がございます。ご協力のほどよろしくお願いいたします。<br>
            後夜祭につきましては、参加表明のフォームでの人数変更はできなくしておりますので、もしご変更がある場合は、お手数ですが<a href="/bbs">問い合わせ掲示板</a>に連絡いただくか、<a href="https://form1ssl.fc2.com/form/?id=b80d5db1cbda701c">メールフォーム</a>にて連絡をお願いいたします。
          </div>
          <div class="modal-footer">
            {% if 'userid' in request.session %}
            <a href="/entry/edit/"  class="btn btn-primary">参加表明を確認する</a>
            {% else %}
            <a href="/entry/login/" class="btn btn-primary">ログイン</a>
            {% endif %}
            <button type="button" class="btn btn-secondary" id="confirmNum" data-dismiss="modal">確認済みです</button>
          </div>
        </div>
      </div>
    </div>
    <script>
    $(window).on('load',function(){
      if(localStorage.getItem('confirmNum') != 1) {
        $('#myModal').modal('show');
      }
    });
    $('#confirmNum').on('click',function(){
      localStorage.setItem('confirmNum', 1);
    });
    </script>
  </body>
</html>