{% extends "base/base.html" %}
{% block contents %}
{% load static %}
{% if entry_list %}
{% for entry in entry_list %}
<div class="row p-4 text-left">
    <div class ="col-md-4 offset-md-4">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ entry.username }}</li>
        </ul>
        <img class="card-img" src="{{ entry.picture }}">
        <div class="card-body">
        <div><a href="#" class="pr-2 text-dark">いいね！</a><a href="#" class="text-dark">コメント</a></div>
        <div class="pb-2"><span class="mr-2">いいね！</span>{{ entry.likes|length }}件</div>
        <div>{{ entry.message|linebreaksbr }}</div>
        {% for comment in entry.comments %}
        <div><span class="mr-2">{{ comment.username }}</span>{{ comment.message|linebreaksbr }}</div>
        {% endfor %}
        <div  class="pt-2"><small>車種：{{ entry.type }}　グレード{{ entry.grade }}　出発地：{{ entry.departure }}</small></div>
        <div><small>大人{{ entry.adult }}人　小人{{ entry.child }}人</small></div>
        <div><small><abbr class="timeago text-secondary" title="{{ entry.time|date:'Y-m-d H:i:s' }}">更新時間</abbr></small></div>
        </div>
    </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock contents %}
